<h1><%= @task.title %></h1>
<p>Details: <%= @task.details %></p>
<p>
<input type="checkbox" id="status" name="status"
<%= 'checked' if @task.completed == true %>>
<label for="status">
<% if @task.completed == false %>
<%= "This task is not completed yet" %>
<% else %>
<%= "This task is completed" %>
<% end %>
</label>
</p>
<br>

<%= link_to "Edit Task", "/tasks/#{@task.id}/edit" %>
<br>
<%= link_to "Back to list", "/tasks" %>
